body {
    font-family: Monserat, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

/* NAVBAR */
.navbar {
    background: rgb(0, 0, 0);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .7);
}

.nav-item-links {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
    font-weight: 700;
    color: #f4f4f4;
    cursor: pointer;
    text-transform: uppercase;
    transition: .7s;
}

.navbar-toggler {

}

.header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/master-slide-08.jpg") no-repeat fixed center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #ddd;
}

.logotype-img {
    width: 70px;
    height: 70px;
}

.header-title {
    padding: 8px;
    border: 1px solid #fedb72;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 400;
}

.header-title-h1 {
    font-weight: 900;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.btn-signUp {
    padding: 15px 40px;
    font-weight: 700;
    background: #d29d41;
    color: #6c411b;
    border-radius: 44px;
    transition: 1s;
    cursor: pointer;
}

.btn-signUp:hover {
    background: #fef347;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .7);
    transform: translate(0, -10px);
}

.container-for-whom {

}

/* Table */
.table thead th {
    border-bottom: 2px solid rgba(5, 19, 0, 0.7);
}

.table-bordered td, .table-bordered th {
    border: 2px solid rgba(5, 19, 0, 0.7);
}

.my-table-top {
    padding: 10px;
    font-size: 5rem;
}

.titles {
    margin: 0 auto;
    position: relative;
    color: #343a40;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    display: table;
}

.titles::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -25px;
    width: 30px;
    height: 20px;
    border-top: 2px solid #fed57b;
    border-left: 2px solid #fed57b;
}

.titles::after {
    content: "";
    position: absolute;
    bottom: -50%;
    right: -25px;
    width: 30px;
    height: 20px;
    border-bottom: 2px solid #fed57b;
    border-right: 2px solid #fed57b;
}

.cards-wrapper {
    padding: 20px;
    color: #555555;
}

.cards-title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
}

.cards-description {
    font-weight: 500;
}

.cards-icons {
    background: #d29d41;
    border-radius: 50%;
    color: #6c411b;
    font-size: 45px;
    width: 100px;
    height: 100px;
}

.about-spirit-gym {
    background: #121317;
    color: #d3d9df;
}

.about-spirit-container {
    height: 700px;
}

.about-spirit-gym-description {
    font-size: 1.1rem;
    text-align: justify;
}

.video-container {
    height: 280px;
}

.about-title {
    font-size: 1rem;
    font-weight: 700;
}

.about-title-icon {
    margin-right: 1rem;
    font-size: 3rem;
    color: #d3d9df;
}

.about-team {

}

.team-img {
    width: 250px;
    height: 250px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

.grey-text {
    color: #777777;
}

/* Navs midlle menu*/
.container-name {
    background: #121317;
    color: #d3d9df;
}

.nav-pills .nav-link.active {
    border-radius: 50px;
    width: 132px;
    background: #d29d41;
    color: #6c411b;
    font-weight: 700;
}

.menu-midle-link {
    color: #ffffff;
    width: 132px;
    transition-duration: 1s;
}

.menu-midle-link:hover {
    color: #d3d9df;
}

.my-tabs {
    font-weight: 400;
    color: #fff;
    animation-duration: 1s;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.button:hover {
    background-color: #000000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

.card-collapse {
    border: 1px solid #efefef;
    margin-bottom: 1rem;
    border-radius: 1px;
}

.card-collapse-header {
    padding: 1rem;
    border: none;
}

.collapsed-title {
    font-weight: 700;
    color: #343a40;
}

.collapsed-link {
    color: grey;
    border-bottom: 1px dashed #777777;
}

.rotate {
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
}

.rotate.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.card-collapse-body {
    background-color: #ffffff;
}

.btn-show-more {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border: 1px dashed #dddddd;
    border-radius: 1px;
    color: #343a40;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-show-more:hover {
    border: 1px dashed #777777;
}

/* what about says */
.feedback {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/master-slide-08.jpg") no-repeat fixed center;
    background-size: cover;
}

.feedback-title {
    color: #ffffff;
}

.feedback-subtitle {
    color: #bbbbbb;
}

.feedback-description {
    color: #bbbbbb;
}

.btn-facebook {
    padding: 10px 15px;
    background: #3b5998;
    border-radius: 44px;
    color: #ffffff;
    text-transform: capitalize;
}

.btn-facebook:hover {
    color: #e2e6ea;
    background: #365398;
}

.avatar-caption {
}

.avatar-title {
    font-size: 16px;
    font-weight: 700;
}

.avatar-subtitle {
    font-size: 14px;
    font-weight: 300;
    color: #bbbbbb;
}

.avatar-img-mini {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 8px rgba(0, 203, 246, 0.23);

}

/* what about says end */

.slide-img {
    width: 100%;
    height: 200px;
}

.card-shop {
    margin-left: 20px;
    margin-right: 20px;
    color: #343434;
    font-weight: 700;
    text-transform: uppercase;
}

.card-shop-price {
    color: #343434;
    font-weight: 400;
}

.shop-subtitles {
    color: #777788;
    font-size: 20px;
}

.btn-instagram {
    padding: 12px 17px;
    background: #d29d41;
    color: #6c411b;
    font-weight: 700;
    text-transform: uppercase;
}

/* Forms START */

.container-form {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #121317;
    color: #efefef;
}

.container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 340px;
}

.form-title {
    color: #d3d9df;
}

.form-description {
    max-width: 320px;
    color: #d3d9df;
    text-align: justify;
}

.form-icon {
    font-size: 1.4rem;
    color: #979696;
}

.form-contacts-mobile {
    display: flex;
    align-items: center;
    color: #d3d9df;
}

.form-control {
    height: 55px;
    margin-bottom: 25px;
    background: #18191e;
    border: 2px solid #212227;
    border-radius: 2px;
    color: #16171e;
}

.form-control:focus {
    border-color: #fedb72;
    font-size: 1.3rem;
    box-shadow: 0 5px 10px #343434;
}

.form-check {
    padding: 0;
    font-size: 14px;
}


input[type=checkbox], input[type=radio] {
    display: none;
}

input[type=checkbox] + label::before {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    content: "\2713";
    color: transparent;
    background: #18191e;
    border: 2px solid #343434;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 900;
    margin: -5px 5px 0 0;
    height: 22px;
    width: 22px;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label::before {
    color: #d29d41;
}

.btn-gold {
    width: 220px;
    background-color: #d29d41;
    border: 2px solid #d29d41;
    font-size: 1.2rem;
    font-weight: 500;
    color: #6c411b;
    text-transform: uppercase;
}

.main-footer {
    background: #000000;
}
